<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genolo.venue_reservation_system.dao.AttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.genolo.venue_reservation_system.model.Attachment">
        <id column="id" property="id" />
        <result column="attachment_name" property="attachmentName" />
        <result column="attachment_url" property="attachmentUrl" />
        <result column="attachment_belong_id" property="attachmentBelongId" />
        <result column="upload_user_id" property="uploadUserId" />
        <result column="attachment_size" property="attachmentSize" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_state" property="delState" />
        <result column="reserve1" property="reserve1" />
        <result column="reserve2" property="reserve2" />
        <result column="reserve3" property="reserve3" />
        <result column="reserve4" property="reserve4" />
        <result column="reserve5" property="reserve5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, attachment_name, attachment_url, attachment_belong_id, upload_user_id, attachment_size, create_time, update_time, del_state, reserve1, reserve2, reserve3, reserve4, reserve5
    </sql>

</mapper>
